* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}

body{
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #7d2ae8;
      padding: 30px;
}

.container{
      max-width: 850px;
      width: 100%;
      background: #fff;
      padding: 30px 40px;
      box-shadow: 0 5px 10px rgba(0, 0, 0,2);
      position: relative;
}

.container .form-content{
      align-items: center;
      justify-content: space-between;
      display: flex;
      height: 100%;
      width: 100%;
}

.container .cover{
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;
      background: #7d2ae8;
      z-index: 98;
      transform: all 1s ease;
      /* background: #7d2ae8; */
}




.container .form{
      height: 100%;
      width: 100%;
      background: #fff;
}

.form-content .login-form,
.form-content .signup-form{
width: calc(100% / 2 - 25px);
/* background-color: red; */
}

.form .form-content .title{
      position: relative;
      font-size: 24px;
      font-weight: 500;
      color: #333;
}
form .form-content .title::before{
      content: "";
      position: absolute;
      height: 3px;
      width: 25px;
      background-color: #7d2ae8;
      margin-top: 20px;

}

form .signup-form .title::before{
      width: 20px;
}

form .form-content .input-boxes{
      margin-top: 30px;
}

form .form-content .input-box{
      display: flex;
      align-items: center;
height: 50px;
width: 100%;
margin: 10px 0px;
position: relative;
}

.form-content .input-box input{
height: 100%;
width: 100%;
outline: none;
border: none;
padding: 0 20px;
font-size: 14px;
font-weight: 400;
border-bottom: 2px solid rgba(0, 0, 0, 0.212);
transition: all 0.3s ease;
}

.form-content .input-box input:focus{
      border-color: #7d2ae8;
}

.form-content .input-box i{
      position: absolute;
      color: #7d2ae8;
      font-size: 16px;
}

form .form-content .button{
      color: #fff;
      margin-top:40px ;
      
}
form .form-content .text{
      font-size: 14px;
      font-weight: 500;
      color: #333;
}
form .form-content .text a{
      text-decoration: none;
}
form .form-content .text a:hover{
      text-decoration: underline;
}

form .form-content .button input{
      color: #fff;
      background: #7d2ae8;
      border-radius: 14px;
      padding: 0;
      cursor: pointer;
      transition: all 0.4s ease;
      
}


form .form-content .button input:hover{
      background: #5b1b95;
}

form .form-content label{
      color: #5b1b95;
      cursor: pointer;
}

form .form-content label:hover{
      text-decoration: underline;
}




/*  */

#flip{

      display: none;
}